* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
}

.login-button,
.details-button {
    text-decoration: none;
    color: white;
    background-color: #0077cc;
    padding: 10px 15px;
    border-radius: 5px;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

main {
    padding: 20px;
}

.place-card,
.review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
}

.place-details {
    margin: 20px;
}

.place-info {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea,
select {
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.add-review {
    margin-top: 20px;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
